NODE_ENV=development
PORT=3000
FRONTEND_URL=http://localhost:3000
API_URL=http://localhost:8000/api
DATABASE_URL=postgres://user:password@localhost:5432/mydb

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=yourgmail@gmail.com
SMTP_PASS=your-app-password
SMTP_FROM=Your Name <yourgmail@gmail.com>

JWT_ACCESS_TOKEN_SECRET=your secret
JWT_ACCESS_TOKEN_LIFETIME=your time

JWT_REFRESH_TOKEN_SECRET=your secret
JWT_REFRESH_TOKEN_LIFETIME=your time

JWT_EMAIL_CONFIRM_SECRET=your secret
JWT_EMAIL_CONFIRM_LIFETIME=your time

CLOUDINARY_CLOUD_NAME=your cloud name
CLOUDINARY_API_KEY=your api key
CLOUDINARY_API_SECRET=your api secret

STRIPE_PUBLIC_KEY=your public key
STRIPE_SECRET_KEY=your secret key
STRIPE_WEBHOOK_SECRET_KEY=your webhook secret key